html{
	background-color:#F7F7F7;
}

body {
  	background-color: white;
  	width : 90%;
  	margin: auto;
  	border-left : 2px solid #EEEEEE;
  	border-right : 2px solid #EEEEEE;
	text-align: center;
}

h2{
	color: Salmon;
}

p{
	color: Black;
}